<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Blackbird_TranslationDictionariesGenerator::settings" title="Blackbird Translation Dictionaries Generator" />
            </resource>
        </resources>
    </acl>
</config>
